<div class="about display-none">

    <div class="about-image display-pc">
        <img src="/img/perfil.png" alt="">
        <h2>Juan Cruz <br> <span>Bolatti Torcasio</span> </h2>
    </div>

    <div class="about-content">
        <p class="display-pc">¡Hola! Soy estudiante de Ingeniería en Sistemas Informáticos con pasión por la
            Programación y el Diseño Web.
            Como Desarrollador Web me centro en crear páginas y aplicaciones web innovadoras y fáciles de usar, con un
            enfoque creativo para hacerlas visualmente atractivas e impactantes. 
                
        </p>
        <p class="display-mobile">¡Hola! Soy estudiante de Ingeniería en Sistemas Informáticos con pasión por la
            Programación y el Diseño Web.
            Como Desarrollador Web me centro en crear páginas y aplicaciones web innovadoras y fáciles de usar, con un
            enfoque creativo para hacerlas visualmente atractivas e impactantes. </p>
        <div class="about-media">
            <a href="#">Ig</a>
            <a href="#">Ln</a>
            <a href="#">Mail</a>
            <a href="#">compartir</a>
        </div>
    </div>

</div>