<div class="about display-none">

    <div class="about-image display-pc">
        <img src="/img/perfil.png" alt="">
        <h2>Juan Cruz <br> <span>Bolatti Torcasio</span> </h2>
    </div>

    <div class="about-content">
        <p class="display-pc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti nobis iste ratione maiores, voluptatibus sit ipsam vitae voluptas perspiciatis, voluptate dignissimos earum odio, eius labore possimus eos temporibus architecto autem maxime et magni omnis iusto optio? Unde quae eos omnis quos. Culpa est molestiae hic amet exercitationem iure dolorum maiores, recusandae aliquid placeat vel provident tenetur laboriosam architecto ducimus omnis dolorem, ex numquam repellat vero minus esse in quas. Distinctio, exercitationem ad fugit ex magnam ipsam numquam tenetur praesentium.</p>
        <p class="display-mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, inventore unde quae officiis iusto facere.</p>
        <div class="about-media">
            <a href="#">Ig</a>
            <a href="#">Ln</a>
            <a href="#">Mail</a>
            <a href="#">compartir</a>
        </div>
    </div>

</div>