<div class="about display-none">

    <div class="about-image display-pc">
        <img src="/img/perfil.png" alt="">
        <h2>Juan Cruz <br> <span>Bolatti Torcasio</span> </h2>
    </div>

    <div class="about-content">
        <p class="display-pc">
            ¡Hola! Soy un estudiante argentino de Ingeniería en Sistemas Informáticos con pasión por
            la Programación, el Diseño y el Arte.
            Como Desarrollador me centro en crear páginas web y aplicaciones innovadoras y fáciles de usar, con un
            enfoque creativo para hacerlas visualmente atractivas e impactantes.
            Me gusta escribir y disfruto comunicando ideas de la mejor forma posible, explorando la diversidad de
            contenidos y los límites del formato.   
            ACA ME FALTA MAS TEXTO, PORFAVOR, SI ESTAS LEYENDO ESTO ES QUE LA PAGINA TODAVIA NO ESTA TERMINADA, PERO PODES RECORRERLA IGUAL.
        </p>
        <p class="display-mobile">
            ¡Hola! Soy estudiante de Ingeniería en Sistemas Informáticos con pasión por la Programación, el Diseño y el
            Arte.
            Como Desarrollador me centro en crear páginas web y aplicaciones innovadoras y fáciles de usar, con un
            enfoque creativo para hacerlas visualmente atractivas e impactantes.
            Me gusta escribir y disfruto comunicando ideas de la mejor forma posible, explorando la diversidad de
            contenidos y los límites del formato.
        </p>
        <div class="about-media">
            <a href="#">Ig</a>
            <a href="#">Ln</a>
            <a href="#">Mail</a>
            <a href="#">compartir</a>
        </div>
    </div>

</div>