<a class="logo-container display-pc" id="logo-pc" href="#">
    <img src="/img/web_logo_01.png" alt="" class="">
    <img src="/img/web_logo_02.png" alt="" class="hidden">
    <img src="/img/web_logo_03.png" alt="" class="hidden">
    <img src="/img/web_logo_04.png" alt="" class="hidden">
    <img src="/img/web_logo_05.png" alt="" class="hidden">
    
</a>

<a href="#" class="logo-container display-mobile">
  <img src="/img/web_logo_celular.png" alt="">
</a>

<div class="navbar" id="navbar">
  <div class="nav-toggle" onclick="toggleNav(navbar)">
    <div class="box top-box"></div>
    <div class="box bottom-box"></div>
  </div>
  <div class="nav-display">
    <a href="#portfolio" class="menu-one"></a>
    <a href="#knowledge" class="menu-two"></a>
    <a href="#art" class="menu-three"></a>
    <a href="#contact" class="menu-four"></a>
  </div>
</div>

<div class="media" id="media">
  <a href="#"><img src="/img/web_logo_03.png" alt="#"></a>
  <a href="#"><img src="/img/web_logo_03.png" alt="#"></a>
</div>

<button class="to-top" onclick="scrollToTop()" title="Ir arriba" id="toTopButton"></button>
