<section class="progress container">

    <div class="progress-intro">
        <h2>Pagina en Progreso</h2>
        <p>Estas en la pagina de Juan Cruz Bolatti &lt;ese soy yo!&gt;. Lamentablemente esta pagina no esta terminada,
            pero podes contactarme por los siguientes medios:</p>
        <div class="progress-contact">
            <a href="https://www.instagram.com/juan_bolatti/">Ig: juan_bolatti</a>
            <a href="www.linkedin.com/in/juan-cruz-bolatti">LinkedIn: Juan Cruz Bolatti</a>
            <p>Mail: juancbolatti.t@gmail.com</p>
            <a href="#">Curriculum Vitae</a>
        </div>
    </div>

    <div class="progress-outro">
        <p>Si tenes curiosidad, podes pasearte por la pagina para ver los avances!</p>
        <div class="progress-bar">
            <div>18%</div>
        </div>
    </div>

</section>