<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Normalize -->
    <link rel="stylesheet" href="/style/normalize.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/style/style.css"> 
</head>
<body>
    
    {{> navbar}}
    
    {{> progress }}

    {{{body}}}


    <!-- Lottie.js -->
    <script src="/js/animation/lottie.js"></script>
    <!-- Main script -->
    <script src="/js/script.js"></script>
</body>
</html>