.about-opener {
    width: 13rem;
    aspect-ratio: 1;

    img {
        width: 100%;
    }

    .bars {
        position: absolute;
        top: calc(55% - 7px);
        left: calc(50% - 20px);
        z-index: 1;
        transition: .3s ease;

        div {
            width: 40px;
            height: 7px;
            background-color: #fff;
            opacity: 0;
            transition: 0.4s;
        }

        .bar1 {
            width: 20px;
            transform: translate(0, -50%) rotate(45deg);
        }
        .bar2 {
            transform: translate(0, 50%);
        }
    }

    &::after {
        content: "";
        width: 100%;
        aspect-ratio: 1;
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(189, 128, 227);
        background: linear-gradient(49deg, rgba(189, 128, 227, 1) 0%, rgba(118, 177, 228, 1) 100%);
        opacity: 0;
        transition: .3s ease;
    }

    &:hover {
        .bars {
            div {
                opacity: 1;
            }
        }
    }

    
}

.about-opener-open {
    img {
        filter: grayscale(90%) contrast(160%);
    }

    .bars {
        div {
            opacity: 1;
        }

        .bar1 {
            width: 40px;
            transform: translate(0, 0) rotate(45deg);
        }

        .bar2 {
            transform: translate(0, -100%) rotate(-45deg);
        }
    }

    &::after {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 1440px) {
    .about-opener {
        width: 10rem;
    }
}

.about {
    position: fixed;
    top: 5vh;
    right: 7.5vw;
    width: 55vw;
    height: 60vh;
    z-index: 5;
    animation: aboutDisplayAnimation .3s;
    opacity: 1;
    transition: .3s ease-in-out;

    border-radius: 15px;
    background: rgb(189,128,227);
    background: radial-gradient(circle, rgba(118,177,228,0.4) 0%, rgba(189,128,227,0.4) 100%);
    -webkit-backdrop-filter: saturate(180%) blur(50px);
    backdrop-filter: saturate(180%) blur(50px);
    outline: 2px solid rgba(64,64,170,0.4);
    background-size: 200%;
    background-position: var(--bg-x) var(--bg-y);

    display: flex;
    flex-direction: row-reverse;

    .about-image {
        width: 50%;
        position: relative;

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
            border-radius: 0 15px 15px 0;
        }

        h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5rem 2rem 2rem;
            border-radius: 0 0 15px 0;
            color: #e4e4e4;
            font-size: 5rem;
            font-weight: bold;
            line-height: 5rem;
            margin: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);

            animation: aboutTextAnimation .6s;
            transition: .3s ease-in-out;

            span {
                font-weight: 200;
                text-transform: capitalize;
                color: #ececec;
                width: 120%;
            }
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 3rem 4rem 3rem 3rem;

        p {
            font-size: 2rem;
            text-align: justify;
            line-height: 2.4rem;
            text-indent: 2rem;
            margin: 1rem 0;
        }

        .about-media {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            align-items: center;
        }
    }

    &:hover {
        .about-image {
            h2 {
                padding: 10rem 2rem 2rem;
            }
        }
    }
}

@keyframes aboutDisplayAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes aboutTextAnimation {
    0% {
        opacity: 0;
        padding: 5rem 4rem 2rem 0rem;
    }
    100% {
        opacity: 1;
        padding: 5rem 2rem 2rem 2rem;
    }
}

@media only screen and (max-width: 1280px) {
    .about {
        width: 70vw;

        .about-image {
            width: 45%;
        }

        .about-content {
            width: 55%;
            padding: 2rem;

            p {
                font-size: 1.9rem;
                line-height: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .about {
        right: auto;
        left: 12.5vw;
        top: var(--about-top);
        width: 75vw;
        height: 45vh;

        .about-content {
            width: 100%;
        }
    }
}