.art {
    margin-top: 10rem;

    .art-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        div {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .art-card {
                position: relative;
                border-radius: 13px;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: cover;
                }

                div { 
                    position: absolute;
                    z-index: 5;
                    width: 10rem;
                    top: 0;
                    left: 0;
                }

                p {
                    position: absolute;
                    z-index: 5;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
            }

            .art-card-main {
                background-color: crimson;
                height: 60vh;
            }

            .art-card-02 {
                height: 30vh;
            }

            .art-card-03 {
                height: 40vh;
            }

            .art-card-04 {
                height: 50vh;
            }
        }

        
    }
}