.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;

    .home-content {
        display: flex;
        flex-direction: column;

        .home-text {
            margin-top: 6rem;
            display: grid;
            grid-template-columns: auto auto;
            gap: 2vw;

            p {
                text-indent: 1.4rem;
                margin: 0;
                font-size: 2.4rem;
                line-height: 2.8rem;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .home {
        .home-content {
            .home-text {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;

        .home-content {
            order: 2;

            .home-text {
                margin-top: 2rem;

                p {
                    text-align: start;
                }
            }
        }
    }
}