$navbar-border-horizontal: 1.867vw;
$navbar-border-vertical: 2.344vw;

/* Logo */
.logo-container {
    position: fixed;
    top: $navbar-border-vertical;
    left: $navbar-border-horizontal;
    width: 4.647vw;

    img {
        width: 100%;
        position: absolute;
        transition: .5s linear;
    }
}

/* Navbar */
$box-width: 2.282vw;
$box-border: 0.415vw;
$box-separation: 1vw;

.navbar {
    position: fixed;
    top: calc($navbar-border-vertical + $box-border);
    right: calc($navbar-border-horizontal + $box-border + 2.6vw);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 0;

    gap: 10rem; // Distancia a los items

    &::before {
        content: "";
        background-color: red;
        width: 15vw;
        height: 35vh;
        position: absolute;
        top: - calc($box-border + 1vw);
        right: - calc($box-width + 1vw);
        border-radius: 10px;
        z-index: 0;
    }

    .nav-toggle {
        position: relative;
        cursor: pointer;
        width: 100%;

        .box {
            background-color: $background-color;
            width: $box-width;
            height: $box-width;
            border: solid black $box-border;
            position: absolute;
            transform: rotate(45deg);
        }

        .top-box {
            z-index: 2;
            top: 0;
            left: 30%;
            transition: .2s ease;
        }

        .bottom-box {
            z-index: 1;
            top: $box-separation;
            left: 30%;
            transition: .5s ease;
        }

        &:hover {
            .box {
                transform: translateY(-10px) rotate(45deg);
            }
        }
    }

    .nav-display {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10rem;

        a {
            position: relative;
            color: #000;

            &::before {
                position: absolute;
                top: 0;
                left: 50%; /* la mitad del ancho (100 / 2 = 50) */
                content: "";
                width: 3.8vw;
                height: 75px;
                background-image: url(../img/Icon_01.png);
                background-position: center; 
                background-repeat: no-repeat;
                background-size: cover;
            }

            &::after {
                position: absolute;
                top: calc(50px - 1rem); /* La mitad del height menos la mitad del font */
                right: 50px;
                content: "";
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                opacity: 0;
                transition: .4s ease;
            }

            &:hover {
                &::after {
                    opacity: 1;
                    right: 70px;
                }
            }
        }

        .menu-one {
            &::before {
                background-color: blue;
            }

            &:hover {
                &::after {
                    content: "Conoceme";
                }
            }
        }

        .menu-two {
            &::before {
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                background-color: red;
            }

            &:hover {
                &::after {
                    content: "Portafolio";
                }
            }
        }

        .menu-three {
            &::before {
                clip-path: circle(50% at 50% 50%);
                background-color: yellow;
            }

            &:hover {
                &::after {
                    content: "Arte";
                }
            }
        }

        .menu-four {
            &::before {
                clip-path: circle(50% at 50% 50%);
                background-color: yellow;
            }

            &:hover {
                &::after {
                    content: "Contactame";
                }
            }
        }
    }
}

.displayed {
    animation: aa .85s;

    .nav-toggle {
        .top-box {
            transform: translateY(-0.3vw) rotate(135deg);
        }

        &:hover {
            .top-box {
                transform: rotate(135deg);
            }

            .bottom-box {
                transform: rotate(45deg);
            }
        }
    }

    .nav-display {
        display: flex;
        animation: .85s aaa;
    }
}

@keyframes aa {
    0% {
        gap: 0;
    }

    50% {
        gap: 16rem;
    }

    100% {
        gap: 15rem;
    }
}

@keyframes aaa {
    0% {
        gap: 0;
    }

    50% {
        gap: 12rem;
    }

    100% {
        gap: 10rem;
    }
}