$navbar-border-horizontal: 1.867vw;
$navbar-border-vertical: 2.344vw;

/* Logo */
$logoWidth: 4.647vw; 

.logo-container {
    position: fixed;
    top: $navbar-border-vertical;
    left: $navbar-border-horizontal;
    width: calc($logoWidth + 1vw);
    transition: .4s ease;

    img {
        width: 100%;
        position: absolute;
        transition: .5s linear;
    }
}

.logo-scrolled {
    width: $logoWidth;
}

@media only screen and (max-width: 1280px) {
    $logoWidth: 6.196vw; 
    .logo-container {
        width: calc($logoWidth + 1vw);
    }

    .logo-scrolled {
        width: $logoWidth;
    }
}

@media only screen and (max-width: 768px) {
    $logoWidth: 9.294vw; 
    .logo-container {
        width: calc($logoWidth + 1vw);
    }
    
    .logo-scrolled {
        width: $logoWidth;
    }
}

/* Navbar */
$box-width: 2.282vw;
$box-border: 0.415vw;
$box-separation: 1vw;
$background-color-menu: #f2f9ff; 

.navbar {
    position: fixed;
    top: calc($navbar-border-vertical + $box-border);
    right: calc($navbar-border-horizontal + $box-border + 2.6vw);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 0;
    gap: calc(1.245vw + 3*$box-border + $box-width);

    &::before {
        content: "";
        position: absolute;
        top: - calc($box-border + 1vw);
        right: - calc($box-width + 1vw);
        border-radius: 10px;
        z-index: 0;
        transition: .2s ease-in;
    }

    .nav-toggle {
        position: relative;
        cursor: pointer;
        width: 100%;

        .box {
            background-color: $background-color;
            width: $box-width;
            height: $box-width;
            border: solid black $box-border;
            position: absolute;
            transform: rotate(45deg);
        }

        .top-box {
            z-index: 2;
            top: 0;
            left: 30%;
            transition: .2s ease;
        }

        .bottom-box {
            z-index: 1;
            top: $box-separation;
            left: 30%;
            transition: .5s ease;
        }

        &:hover {
            .box {
                transform: translateY(-10px) rotate(45deg);
            }
        }
    }

    .nav-display {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 3.2vw;

        a {
            position: relative;
            color: #000;

            &::before {
                position: absolute;
                top: 0;
                left: 50%; 
                content: "";
                width: $box-width;
                height: $box-width;
            }

            &::after {
                position: absolute;
                top: .4vw; 
                right: 0;
                content: "";
                font-size: 2rem; // CAMBIAR POR CADA TAMAÑO
                text-transform: uppercase;
                font-weight: bold;
                opacity: 0;
                transition: .4s ease;
            }

            &:hover {
                &::after {
                    opacity: 1;
                    right: 1vw;
                }
            }
        }

        .menu-one {
            &::before {
                background-color: $background-color-menu;
                border: solid $box-border black;
            }

            &:hover {
                &::after {
                    content: "Conoceme";
                }
            }
        }

        .menu-two {
            &::before {
                background-color: $background-color-menu;
                border: solid $box-border black;
            }

            &:hover {
                &::after {
                    content: "Portafolio";
                }
            }
        }

        .menu-three {
            &::before {
                background-color: $background-color-menu;
                border: solid $box-border black;
            }

            &:hover {
                &::after {
                    content: "Arte";
                }
            }
        }

        .menu-four {
            &::before {
                background-color: $background-color-menu;
                border: solid $box-border black;
            }

            &:hover {
                &::after {
                    content: "Contacto";
                }
            }
        }
    }
}

.displayed {
    z-index: 99;
    animation: aa .85s;

    &::before {
        background: rgb(72,77,168);
        background: linear-gradient(45deg, rgba(72,77,168,0.25) 0%, rgba(63,132,213,0.25) 100%);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        outline: 1.5px solid rgba(64,64,170,0.4);
        width: 14vw;
        height: 19vw;
        animation: aaaa .85s;
    }

    .nav-toggle {
        .box {
            background-color: $background-color-menu;
        }

        .top-box {
            transform: translateY(-0.3vw) rotate(135deg);
        }

        &:hover {
            .top-box {
                transform: rotate(135deg);
            }

            .bottom-box {
                transform: rotate(45deg);
            }
        }
    }

    .nav-display {
        display: flex;
        animation: .85s aaa;
    }
}

// CAMBIAR NOMBRES
@keyframes aa {
    0% {
        gap: 0;
    }

    50% {
        gap: calc(1.245vw + 3*$box-border + $box-width + 1vw);
    }

    100% {
        gap: calc(1.245vw + 3*$box-border + $box-width);
    }
}

@keyframes aaa {
    0% {
        gap: 0;
    }

    50% {
        gap: 3.4vw;
    }

    100% {
        gap: 3.2vw;
    }
}

@keyframes aaaa {
    0% {
        height: 0;
    }
    50% {
        height: 21vw;
    }
    100% {
        height: 19vw;
    }
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 768px) {
    
}

/* Media Anchors */
$mediaWidth: 3vw;

.media {
    position: fixed;
    z-index: 30;

    right: calc($navbar-border-horizontal + $box-border);
    bottom: calc($navbar-border-vertical + $mediaWidth);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc($mediaWidth + ($mediaWidth/4));

    animation: .4s mediaDisplayAnimation;

    a {
        position: relative;
        width: $mediaWidth;

        img {
            width: 100%;
            position: absolute;
            background-color: $background-color;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: -0.6vw;
            left: -2vw;
            transition: .1s ease-in; // CAMBIAR ANIMACION SEGUN LA IMAGEN

            background-color: rgba($color: #ff0000, $alpha: 0.2); // BORRAR
        }

        &:hover {
            &::after {
                width: $mediaWidth;
                height: $mediaWidth;
            }
        }
    }
}

@keyframes mediaDisplayAnimation {
    0% {
        opacity: 0;
        bottom: calc($navbar-border-vertical + $mediaWidth - 1vw);
        gap: calc($mediaWidth + ($mediaWidth/4) - 1vw);
    }
    100% {
        opacity: 1;
        bottom: calc($navbar-border-vertical + $mediaWidth);
        gap: calc($mediaWidth + ($mediaWidth/4));
    }
}

/* To top button */
$toTopButtonWidth: 3vw;

.to-top {
    display: none;
    position: fixed;
    z-index: 30;
    left: calc($navbar-border-horizontal + (($logoWidth / 2) - ($toTopButtonWidth / 2)));
    bottom: $navbar-border-vertical;

    // Cambiar segun la imagen
    width: $toTopButtonWidth; 
    height: $toTopButtonWidth;
    border: none;

    background-color: $background-color;
    background-image: url(../img/web_logo_01.png);
    background-position: center;
    background-size: cover;

    animation: .4s topTopButtonAnimation;
}

@keyframes topTopButtonAnimation {
    0% {
        opacity: 0;
        bottom: calc($navbar-border-vertical - 1vw);
    }
    100% {
        opacity: 1;
        bottom: $navbar-border-vertical;
    }
}