// variables
$background-color: #fff;

/* Fonts */
@font-face {
  font-family: "bahnschrift";
  src: url("/fonts/bahnschrift.ttf");
}

/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;

  &:before,
  &:after {
    box-sizing: inherit;
    outline: none;
  }
}

body {
  font-family: "bahnschrift", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: $background-color;
}

/* Selection */
::selection {
  color: #fff;
  background: #3c55b4;
}

/** Global **/
header,
nav {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  position: relative;
  font-size: 8vw;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8vw;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.animation-hat {
  position: absolute;
  z-index: 4;
  right: -2rem;
  top: 0;
}

.no-pointer {
  cursor: default!important;
}

/* Displays */
.display-mobile {
  display: block!important;
}

.display-pc {
  display: none!important;
}

@media only screen and (min-width: 768px) {
  .display-mobile {
    display: none!important;
  }

  .display-pc {
    display: block!important;
  }
}

.hidden {
  opacity: 0;
}

.display-none {
  display: none!important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 75%;
  }
}

/** Navbar **/
@import 'navbar';

/** Home **/
@import 'home';

/** About **/
@import 'about';

/** Portfolio **/
@import 'portfolio';

/** Knowledge **/
@import 'knowledge';

/** Art **/
@import 'art';

/** Contact **/
@import 'contact';

/** Footer **/
@import 'footer';