/* Fonts */
@font-face {
  font-family: "bahnschrift";
  src: url("/fonts/bahnschrift.ttf");
}
/* Bases */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  outline: none;
}
*:before, *:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "bahnschrift", helvetica;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #fff;
}

/* Selection */
::-moz-selection {
  color: #fff;
  background: #3c55b4;
}
::selection {
  color: #fff;
  background: #3c55b4;
}

/** Global **/
header,
nav {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  position: relative;
  font-size: 8vw;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8vw;
}

/** Utilities **/
/* Usuals */
.fullscreen {
  position: relative;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.animation-hat {
  position: absolute;
  z-index: 4;
  right: -2rem;
  top: 0;
}

.no-pointer {
  cursor: default !important;
}

.content-subtitle {
  position: relative;
  font-size: 6rem;
  line-height: 6.2rem;
  margin: 0;
  color: #d6d6d6;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.content-subtitle span {
  font-weight: 900;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1280px) {
  .content-subtitle {
    font-size: 5rem;
    line-height: 5.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .content-subtitle {
    font-size: 2.5rem;
    line-height: 2.7rem;
    text-align: justify;
    color: #a1a1a1;
  }
  .content-subtitle span {
    background: rgb(72, 77, 168);
    background: radial-gradient(circle, rgb(72, 77, 168) 0%, rgb(63, 132, 213) 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    animation: animationTextBackground 2s linear infinite;
  }
}
@keyframes animationTextBackground {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
.button-opener {
  border: none;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.button-opener img {
  position: relative;
  transition: 0.3s ease;
}
.button-opener:hover img {
  filter: grayscale(40%) contrast(120%);
}

/* Displays */
.display-mobile {
  display: block !important;
}

.display-pc {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .display-mobile {
    display: none !important;
  }
  .display-pc {
    display: block !important;
  }
}
.hidden {
  opacity: 0;
}

.display-none {
  display: none !important;
}

/* Containers */
.container {
  width: 85%;
  max-width: 150rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 75%;
  }
}
/** Navbar **/
/* Logo */
.logo-container {
  position: fixed;
  top: 2.344vw;
  left: 1.867vw;
  width: 5.647vw;
  transition: 0.4s ease;
}
.logo-container img {
  width: 100%;
  position: absolute;
  transition: 0.5s linear;
}

.logo-scrolled {
  width: 4.647vw;
}

@media only screen and (max-width: 1280px) {
  .logo-container {
    width: 7.196vw;
  }
  .logo-scrolled {
    width: 6.196vw;
  }
}
@media only screen and (max-width: 768px) {
  .logo-container {
    width: 10.294vw;
  }
  .logo-scrolled {
    width: 9.294vw;
  }
}
/* Navbar */
.navbar {
  position: fixed;
  top: 2.759vw;
  right: 4.882vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 0;
  gap: 4.772vw;
}
.navbar::before {
  content: "";
  position: absolute;
  top: -1.415vw;
  right: -3.282vw;
  border-radius: 10px;
  z-index: 0;
  transition: 0.2s ease-in;
}
.navbar .nav-toggle {
  position: relative;
  cursor: pointer;
  width: 100%;
}
.navbar .nav-toggle .box {
  background-color: #fff;
  width: 2.282vw;
  height: 2.282vw;
  border: solid black 0.415vw;
  position: absolute;
  transform: rotate(45deg);
}
.navbar .nav-toggle .top-box {
  z-index: 2;
  top: 0;
  left: 30%;
  transition: 0.2s ease;
}
.navbar .nav-toggle .bottom-box {
  z-index: 1;
  top: 1vw;
  left: 30%;
  transition: 0.5s ease;
}
.navbar .nav-toggle:hover .box {
  transform: translateY(-10px) rotate(45deg);
}
.navbar .nav-display {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 3.2vw;
}
.navbar .nav-display a {
  position: relative;
  color: #000;
}
.navbar .nav-display a::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 2.282vw;
  height: 2.282vw;
}
.navbar .nav-display a::after {
  position: absolute;
  top: 0.4vw;
  right: 0;
  content: "";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  transition: 0.4s ease;
}
.navbar .nav-display a:hover::after {
  opacity: 1;
  right: 1vw;
}
.navbar .nav-display .menu-one::before {
  background-color: #f2f9ff;
  border: solid 0.415vw black;
}
.navbar .nav-display .menu-one:hover::after {
  content: "Conoceme";
}
.navbar .nav-display .menu-two::before {
  background-color: #f2f9ff;
  border: solid 0.415vw black;
}
.navbar .nav-display .menu-two:hover::after {
  content: "Portafolio";
}
.navbar .nav-display .menu-three::before {
  background-color: #f2f9ff;
  border: solid 0.415vw black;
}
.navbar .nav-display .menu-three:hover::after {
  content: "Arte";
}
.navbar .nav-display .menu-four::before {
  background-color: #f2f9ff;
  border: solid 0.415vw black;
}
.navbar .nav-display .menu-four:hover::after {
  content: "Contacto";
}

.displayed {
  z-index: 99;
  animation: aa 0.85s;
}
.displayed::before {
  background: rgb(72, 77, 168);
  background: linear-gradient(45deg, rgba(72, 77, 168, 0.25) 0%, rgba(63, 132, 213, 0.25) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  outline: 1.5px solid rgba(64, 64, 170, 0.4);
  width: 14vw;
  height: 19vw;
  animation: aaaa 0.85s;
}
.displayed .nav-toggle .box {
  background-color: #f2f9ff;
}
.displayed .nav-toggle .top-box {
  transform: translateY(-0.3vw) rotate(135deg);
}
.displayed .nav-toggle:hover .top-box {
  transform: rotate(135deg);
}
.displayed .nav-toggle:hover .bottom-box {
  transform: rotate(45deg);
}
.displayed .nav-display {
  display: flex;
  animation: 0.85s aaa;
}

@keyframes aa {
  0% {
    gap: 0;
  }
  50% {
    gap: 5.772vw;
  }
  100% {
    gap: 4.772vw;
  }
}
@keyframes aaa {
  0% {
    gap: 0;
  }
  50% {
    gap: 3.4vw;
  }
  100% {
    gap: 3.2vw;
  }
}
@keyframes aaaa {
  0% {
    height: 0;
  }
  50% {
    height: 21vw;
  }
  100% {
    height: 19vw;
  }
}
/* Media Anchors */
.media {
  position: fixed;
  z-index: 30;
  right: 2.282vw;
  bottom: 5.344vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75vw;
  animation: 0.4s mediaDisplayAnimation;
}
.media a {
  position: relative;
  width: 3vw;
}
.media a img {
  width: 100%;
  position: absolute;
  background-color: #fff;
}
.media a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -0.6vw;
  left: -2vw;
  transition: 0.1s ease-in;
  background-color: rgba(255, 0, 0, 0.2);
}
.media a:hover::after {
  width: 3vw;
  height: 3vw;
}

@keyframes mediaDisplayAnimation {
  0% {
    opacity: 0;
    bottom: 4.344vw;
    gap: 2.75vw;
  }
  100% {
    opacity: 1;
    bottom: 5.344vw;
    gap: 3.75vw;
  }
}
/* To top button */
.to-top {
  display: none;
  position: fixed;
  z-index: 30;
  left: 2.6905vw;
  bottom: 2.344vw;
  width: 3vw;
  height: 3vw;
  border: none;
  background-color: #fff;
  background-image: url(../img/web_logo_01.png);
  background-position: center;
  background-size: cover;
  animation: 0.4s topTopButtonAnimation;
}

@keyframes topTopButtonAnimation {
  0% {
    opacity: 0;
    bottom: 1.344vw;
  }
  100% {
    opacity: 1;
    bottom: 2.344vw;
  }
}
/** Home **/
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}
.home .home-content {
  display: flex;
  flex-direction: column;
}
.home .home-content .home-text {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 2vw;
}
.home .home-content .home-text div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home .home-content .home-text div p {
  text-indent: 1.4rem;
  margin: 0;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: justify;
}
.home .home-content .home-text div a {
  color: rgb(0, 0, 0);
  grid-column: 2;
  margin-top: 1rem;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 13px;
  background: rgb(189, 128, 227);
  background: radial-gradient(circle, rgba(118, 177, 228, 0.4) 0%, rgba(189, 128, 227, 0.4) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  backdrop-filter: saturate(180%) blur(50px);
  outline: 1.5px solid rgba(64, 64, 170, 0.4);
  background-size: 200%;
  transition: 0.3s ease-in-out;
  background-position: var(--bg-x) var(--bg-y);
}

@media only screen and (max-width: 1280px) {
  .home .home-content .home-text {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
  .home .home-content {
    order: 2;
  }
  .home .home-content .home-text {
    margin-top: 2rem;
  }
  .home .home-content .home-text p {
    text-align: start;
  }
}
/** About **/
.about-opener {
  width: 13rem;
  aspect-ratio: 1;
}
.about-opener img {
  width: 100%;
}
.about-opener .bars {
  position: absolute;
  top: calc(55% - 7px);
  left: calc(50% - 20px);
  z-index: 1;
  transition: 0.3s ease;
}
.about-opener .bars div {
  width: 40px;
  height: 7px;
  background-color: #fff;
  opacity: 0;
  transition: 0.4s;
}
.about-opener .bars .bar1 {
  width: 20px;
  transform: translate(0, -50%) rotate(45deg);
}
.about-opener .bars .bar2 {
  transform: translate(0, 50%);
}
.about-opener::after {
  content: "";
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(189, 128, 227);
  background: linear-gradient(49deg, rgb(189, 128, 227) 0%, rgb(118, 177, 228) 100%);
  opacity: 0;
  transition: 0.3s ease;
}
.about-opener:hover .bars div {
  opacity: 1;
}

.about-opener-open img {
  filter: grayscale(90%) contrast(160%);
}
.about-opener-open .bars div {
  opacity: 1;
}
.about-opener-open .bars .bar1 {
  width: 40px;
  transform: translate(0, 0) rotate(45deg);
}
.about-opener-open .bars .bar2 {
  transform: translate(0, -100%) rotate(-45deg);
}
.about-opener-open::after {
  opacity: 0.5;
}

@media only screen and (max-width: 1440px) {
  .about-opener {
    width: 10rem;
  }
}
.about {
  position: fixed;
  top: 5vh;
  right: 7.5vw;
  width: 42.5vw;
  height: 90vh;
  padding: 3rem;
  z-index: 5;
  animation: aboutDisplayAnimation 0.3s;
  opacity: 1;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  background: rgb(189, 128, 227);
  background: radial-gradient(circle, rgba(118, 177, 228, 0.4) 0%, rgba(189, 128, 227, 0.4) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  backdrop-filter: saturate(180%) blur(50px);
  outline: 2px solid rgba(64, 64, 170, 0.4);
  background-size: 200%;
  background-position: var(--bg-x) var(--bg-y);
  display: flex;
  flex-direction: column;
}
.about .about-image {
  height: 30%;
}
.about .about-image img {
  height: 100%;
  width: auto;
}
.about .about-content {
  height: 70%;
}
.about .about-content h2 {
  font-size: 5rem;
  margin: 0;
}

@keyframes aboutDisplayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1280px) {
  .about {
    width: 55vw;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    right: 0;
    left: 15vw;
    width: 70vw;
  }
}
/** Portfolio **/
.portfolio {
  margin-top: 10rem;
}
.portfolio .portfolio-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 2rem;
}
.portfolio .portfolio-cards .portfolio-card {
  position: relative;
  height: 60vh;
  border-radius: 12px;
  overflow: hidden;
}
.portfolio .portfolio-cards .portfolio-card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.portfolio .portfolio-cards .portfolio-card .portfolio-card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  padding: 10rem 2rem 0rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.portfolio .portfolio-cards .portfolio-card .portfolio-card-content h3 {
  margin: 0;
  font-size: 2.7vw;
  color: #fff;
  line-height: 2.7vw;
  transition: 0.3s ease-in;
}
.portfolio .portfolio-cards .portfolio-card .portfolio-card-content p {
  width: 70%;
  margin: 0;
  color: #fff;
}
.portfolio .portfolio-cards .portfolio-card .portfolio-card-content a {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  outline: 0px solid rgba(64, 64, 170, 0.2);
  transition: 0.3s ease-in-out;
  transition: outline 0.15s ease-in-out;
}
.portfolio .portfolio-cards .portfolio-card .portfolio-card-content a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  outline: 3px solid rgba(64, 64, 170, 0.6);
}
.portfolio .portfolio-cards .portfolio-card:hover img {
  height: 110%;
}
.portfolio .portfolio-cards .portfolio-card:hover .portfolio-card-content {
  opacity: 1;
  padding: 10rem 2rem 2rem;
}
.portfolio .portfolio-cards .portfolio-card:hover .portfolio-card-content h3 {
  line-height: 4vw;
}
.portfolio .portfolio-cards .portfolio-mini-card {
  background: rgb(128, 193, 227);
  background: radial-gradient(circle, rgba(128, 193, 227, 0.4) 0%, rgba(177, 228, 189, 0.4) 100%);
  background-size: 200% !important;
  background-position: 0%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgb(138, 207, 244);
  padding: 0 2rem;
  transition: 0.3s ease-in-out;
}
.portfolio .portfolio-cards .portfolio-mini-card .portfolio-card-content h3 {
  margin-bottom: 0.5rem;
}
.portfolio .portfolio-cards .portfolio-mini-card .portfolio-card-content p {
  margin-top: 0.7rem;
}
.portfolio .portfolio-cards .portfolio-mini-card:hover {
  background-position: 100% !important;
}
.portfolio .portfolio-cards .portfolio-mini-card:nth-child(4) {
  background: rgb(158, 0, 255);
  background: radial-gradient(circle, rgba(158, 0, 255, 0.2) 0%, rgba(213, 63, 129, 0.2) 100%);
  border: 1px solid rgb(211, 140, 255);
}
.portfolio .portfolio-cards .portfolio-mini-card:last-child {
  background: rgb(227, 198, 128);
  background: radial-gradient(circle, rgba(228, 177, 177, 0.4) 0%, rgba(227, 198, 128, 0.4) 100%);
  border: 1px solid rgb(227, 198, 128);
}

@media only screen and (max-width: 1280px) {
  .portfolio .portfolio-cards {
    gap: 1rem;
  }
  .portfolio .portfolio-cards .portfolio-card {
    height: 50vh;
  }
  .portfolio .portfolio-cards .portfolio-card .portfolio-card-content p {
    width: 65%;
  }
}
@media only screen and (max-width: 810px) {
  .portfolio .portfolio-cards {
    grid-template-columns: 1fr;
  }
  .portfolio .portfolio-cards .portfolio-card {
    height: 30vh;
  }
  .portfolio .portfolio-cards .portfolio-card img {
    width: 100%;
  }
  .portfolio .portfolio-cards .portfolio-card .portfolio-card-content h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
/** Knowledge **/
.knowledge {
  margin-top: 10rem;
}
.knowledge .tab {
  background-color: #fff;
}
.knowledge .tab .tab-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  background-color: #fff;
}
.knowledge .tab .tab-box .tab-btn {
  font-size: 2rem;
  color: #fff;
  border: none;
  padding: 2rem;
  cursor: pointer;
  border-radius: 13px 13px 0 0;
  transition: 0.3s ease-in-out;
}
.knowledge .tab .tab-box .tab-btn#tab-01 {
  background-color: #4850ab;
}
.knowledge .tab .tab-box .tab-btn#tab-02 {
  background-color: #4080d1;
}
.knowledge .tab .tab-box .tab-btn#tab-03 {
  background-color: #47a59d;
}
.knowledge .tab .tab-box .tab-btn#tab-04 {
  background-color: #ed5e2f;
}
.knowledge .tab .tab-box .tab-btn#tab-05 {
  background-color: #cc3838;
}
.knowledge .tab .tab-box .tab-active {
  color: #000000;
  background-color: #f3f4f6 !important;
}
.knowledge .tab .tab-box .tab-line {
  position: absolute;
  top: 62px;
  left: 17px;
  width: 13rem;
  height: 5px;
  background-color: #4850ab;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.knowledge .tab .tab-contents {
  background-color: #f3f4f6;
  padding: 2rem;
  border-radius: 0 13px 13px 13px;
}
.knowledge .tab .tab-contents .tab-content {
  display: none;
  animation: tabMove 0.5s ease;
}
.knowledge .tab .tab-contents .tab-content h4 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}
.knowledge .tab .tab-contents .tab-content .tab-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list {
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title {
  width: calc(100% - 2.5rem);
  display: grid;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  grid-template-columns: 0.8rem auto 20rem;
  align-items: center;
  cursor: pointer;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title .list-dot {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title .list-bar {
  position: relative;
  width: 100%;
  height: 0.7rem;
  border-radius: 5px;
  background-color: #dadada;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title .list-bar::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  border-radius: 5px;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title p {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul {
  width: 50%;
  list-style: none;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul:nth-child(1) {
  margin-left: 1.5rem;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul:nth-child(2) {
  margin-right: 2rem;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
  margin: 0.2rem 0;
  font-size: 1.7rem;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul li::first-letter {
  text-transform: uppercase;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul li::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -5%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul li .list-item-bar {
  position: relative;
  width: 50%;
  height: 0.7rem;
  border-radius: 5px;
  background-color: #dadada;
}
.knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul li .list-item-bar::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  border-radius: 5px;
}
.knowledge .tab .tab-contents .tab-active {
  display: block;
}

/* Colors Section */
#wideListPurple {
  border: #4850ab 2px solid;
}
#wideListPurple .list-dot {
  background-color: #4850ab;
}
#wideListPurple .list-bar::after {
  background-color: #4850ab;
  width: 100%;
}

#wideListBlue {
  border: #4080d1 2px solid;
}
#wideListBlue .list-dot {
  background-color: #4080d1;
}
#wideListBlue .list-bar::after {
  background-color: #4080d1;
  width: 100%;
}
#wideListBlue #listCpp .list-bar::after {
  width: 45%;
}

#wideListOrange {
  border: #ed5e2f 2px solid;
}
#wideListOrange .list-dot {
  background-color: #ed5e2f;
}
#wideListOrange .list-bar::after {
  background-color: #ed5e2f;
  width: 60%;
}

#wideListPhotoshop {
  border: #2fa3f7 2px solid;
}
#wideListPhotoshop .list-dot {
  background-color: #2fa3f7;
}
#wideListPhotoshop .list-bar::after {
  background-color: #2fa3f7;
  width: 75%;
}

#wideListDaVinci {
  border: #ff644c 2px solid;
}
#wideListDaVinci .list-dot {
  background-color: #ff644c;
}
#wideListDaVinci .list-bar::after {
  background-color: #ff644c;
  width: 60%;
}

#wideListFusion {
  border: #ff6b00 2px solid;
}
#wideListFusion .list-dot {
  background-color: #ff6b00;
}
#wideListFusion .list-bar::after {
  background-color: #ff6b00;
  width: 35%;
}

#wideListInDesign {
  border: #ff517c 2px solid;
}
#wideListInDesign .list-dot {
  background-color: #ff517c;
}
#wideListInDesign .list-bar::after {
  background-color: #ff517c;
  width: 35%;
}

#wideListFable {
  border: #7777ff 2px solid;
}
#wideListFable .list-dot {
  background-color: #7777ff;
}
#wideListFable .list-bar::after {
  background-color: #7777ff;
  width: 55%;
}

#wideListPremiere {
  border: #9494f7 2px solid;
}
#wideListPremiere .list-dot {
  background-color: #9494f7;
}
#wideListPremiere .list-bar::after {
  background-color: #9494f7;
  width: 55%;
}

#wideListAudacity {
  border: #ff4444 2px solid;
}
#wideListAudacity .list-dot {
  background-color: #ff4444;
}
#wideListAudacity .list-bar::after {
  background-color: #ff4444;
  width: 70%;
}

#wideListEnglish {
  border: #eb1c4d 2px solid;
}
#wideListEnglish .list-dot {
  background-color: #eb1c4d;
}
#wideListEnglish .list-bar::after {
  background-color: #eb1c4d;
  width: 50%;
}

#wideListItalian {
  border: #009052 2px solid;
}
#wideListItalian .list-dot {
  background-color: #009052;
}
#wideListItalian .list-bar::after {
  background-color: #009052;
  width: 20%;
}

#wideListUniversity {
  border: #47a59d 2px solid;
}
#wideListUniversity .list-dot {
  background-color: #47a59d;
}
#wideListUniversity .list-bar::after {
  background-color: #47a59d;
  width: 20%;
}

#wideListHaskell {
  border: #5b4d82 2px solid;
}
#wideListHaskell .list-dot {
  background-color: #5b4d82;
}
#wideListHaskell .list-bar::after {
  background-color: #5b4d82;
  width: 20%;
}

#wideListProlog {
  border: #ed8122 2px solid;
}
#wideListProlog .list-dot {
  background-color: #ed8122;
}
#wideListProlog .list-bar::after {
  background-color: #ed8122;
  width: 20%;
}

#dotJs::before {
  background-color: #ffcc00;
}
#dotJs .list-item-bar::after {
  width: 40%;
  background-color: #ffcc00;
}

#dotScss::before {
  background-color: #c76494;
}
#dotScss .list-item-bar::after {
  width: 90%;
  background-color: #c76494;
}

#dotCss::before {
  background-color: #3595cf;
}
#dotCss .list-item-bar::after {
  width: 90%;
  background-color: #3595cf;
}

#dotWp::before {
  background-color: #207196;
}
#dotWp .list-item-bar::after {
  width: 10%;
  background-color: #207196;
}

#dotReact::before {
  background-color: #00d1f7;
}
#dotReact .list-item-bar::after {
  width: 10%;
  background-color: #00d1f7;
}

#dotNd::before {
  background-color: #47a59d;
}
#dotNd .list-item-bar::after {
  width: 30%;
  background-color: #47a59d;
}

#dotMdb::before {
  background-color: #47a59d;
}
#dotMdb .list-item-bar::after {
  width: 15%;
  background-color: #47a59d;
}

#dotRest::before {
  background-color: #0098be;
}
#dotRest .list-item-bar::after {
  width: 10%;
  background-color: #0098be;
}

#dotHdbs::before {
  background-color: #f2704b;
}
#dotHdbs .list-item-bar::after {
  width: 80%;
  background-color: #f2704b;
}

#dotGit::before {
  background-color: #ed5e2f;
}
#dotGit .list-item-bar::after {
  width: 70%;
  background-color: #ed5e2f;
}

#dotLinux::before {
  background-color: #b84046;
}
#dotLinux .list-item-bar::after {
  width: 30%;
  background-color: #b84046;
}

#dotLottie::before {
  background-color: #00ddb3;
}
#dotLottie .list-item-bar::after {
  width: 75%;
  background-color: #00ddb3;
}

#dotU01::before {
  background-color: #47a59d;
}
#dotU01 .list-item-bar::after {
  width: 50%;
  background-color: #47a59d;
}

#dotU02::before {
  background-color: #47a59d;
}
#dotU02 .list-item-bar::after {
  width: 82%;
  background-color: #47a59d;
}

@keyframes tabMove {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media only screen and (max-width: 1280px) {
  .knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul:nth-child(1) {
    margin-left: 0;
    padding-left: 3rem;
  }
  .knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-content ul:nth-child(2) {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .knowledge .tab .tab-box .tab-btn {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
  .knowledge .tab .tab-contents .tab-content h4 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .knowledge .tab .tab-contents .tab-content p {
    margin: 0.5rem 0;
    text-align: justify;
  }
  .knowledge .tab .tab-contents .tab-content .tab-lists {
    grid-template-columns: 1fr;
  }
  .knowledge .tab .tab-contents .tab-content .tab-lists .wide-list {
    width: calc(90% - 0.5rem);
  }
  .knowledge .tab .tab-contents .tab-content .tab-lists .wide-list .list-title {
    width: 100%;
  }
}
/** Art **/
.art {
  margin-top: 10rem;
}
.art .art-content {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.art .art-content h3 {
  width: 50%;
}
.art .art-content h3::after {
  content: "";
  height: 0;
  width: 3px;
  position: absolute;
  top: 4rem;
  right: -6rem;
  background: rgb(255, 88, 88);
  background: linear-gradient(180deg, rgb(255, 88, 88) 0%, rgb(255, 198, 61) 100%);
  transition: 0.3s ease-in-out;
}
.art .art-content .art-cards {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(3, 20rem);
  gap: 1rem;
}
.art .art-content .art-cards button {
  background-color: #f0f0f0;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.art .art-content .art-cards button img {
  align-items: center;
  width: 60%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.1s ease-in-out;
}
.art .art-content .art-cards button:hover {
  background-color: #e6e6e6;
}
.art .art-content .art-cards button:hover img {
  width: 62%;
  height: 62%;
}
.art .art-content .art-cards .art-card-sq {
  aspect-ratio: 1;
}
.art .art-content .art-cards .art-card-rect img {
  width: 60%;
  height: 60%;
}
.art .art-content .art-cards .art-card-01 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.art .art-content .art-cards .art-card-02 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.art .art-content .art-cards .art-card-03 {
  background-size: 200% !important;
  background-position: 0%;
  overflow: hidden;
  background: rgb(227, 198, 128);
  background: radial-gradient(circle, rgba(228, 177, 177, 0.4) 0%, rgba(227, 198, 128, 0.4) 100%);
  border: 1px solid rgb(227, 198, 128);
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 2/4;
}
.art .art-content .art-cards .art-card-04 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.art .art-content .art-cards .art-card-05 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.art:hover .art-content h3 {
  color: #a1a1a1;
}
.art:hover .art-content h3 span {
  background: rgb(255, 88, 88);
  background: radial-gradient(circle, rgb(255, 88, 88) 0%, rgb(255, 198, 61) 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: animationTextBackground 2s linear infinite;
}
.art:hover .art-content h3::after {
  height: 25rem;
}

/** Contact **/
.contact {
  margin-top: 15rem;
}
.contact > div {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 8rem;
}
.contact > div .contact-content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.contact > div .contact-content h3::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -3rem;
  left: -1rem;
  background: rgb(72, 77, 168);
  background: linear-gradient(90deg, rgb(72, 77, 168) 0%, rgb(63, 132, 213) 100%);
  transition: 0.3s ease-in-out;
}
.contact > div .contact-content .contact-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.contact > div .contact-content .contact-media a {
  width: 5%;
}
.contact > div .contact-content .contact-media a img {
  filter: brightness(0);
}
.contact > div .contact-form {
  border-radius: 13px;
  background: rgb(72, 77, 168);
  background: linear-gradient(45deg, rgba(72, 77, 168, 0.6) 0%, rgba(63, 132, 213, 0.6) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 1rem 1rem 1rem;
}
.contact > div .contact-form form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact > div .contact-form form div input {
  border-radius: 13px;
  width: 49%;
  padding: 2rem 2rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: none;
}
.contact > div .contact-form form div input[type=text] {
  background-color: #fff;
}
.contact > div .contact-form form div input[type=number],
.contact > div .contact-form form div input[type=email] {
  background-color: #fff;
}
.contact > div .contact-form form select {
  width: 100%;
  padding: 2rem;
  border-radius: 13px;
  margin: 0.5rem 0 0;
  background-color: #fff;
  border: none;
  color: #01264a;
}
.contact > div .contact-form form select option {
  padding: 1.5rem;
  border-radius: 13px;
  border: none;
}
.contact > div .contact-form form textarea {
  padding: 1.5rem;
  border-radius: 13px;
  width: 100%;
  height: 20rem;
  margin: 1rem 0 0;
  background-color: #fff;
  border: none;
}
.contact > div .contact-form form input[type=submit] {
  border-radius: 13px;
  width: 20%;
  min-width: 10rem;
  padding: 1.2rem 2rem;
  float: right;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #01264a;
  transition: 0.3s ease-in-out;
}
.contact > div .contact-form form input[type=submit]:hover {
  animation: animationSubmit 1s;
}
.contact:hover > div .contact-content h3 {
  color: #a1a1a1;
}
.contact:hover > div .contact-content h3 span {
  background: rgb(72, 77, 168);
  background: radial-gradient(circle, rgb(72, 77, 168) 0%, rgb(63, 132, 213) 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: animationTextBackground 2s linear infinite;
}
.contact:hover > div .contact-content h3::after {
  width: 25rem;
}
.contact:hover > div .contact-content .contact-media {
  gap: 3rem;
  opacity: 1;
}

@media only screen and (max-width: 1280px) {
  .contact > div {
    gap: 4rem;
  }
  .contact > div .contact-content .contact-media a {
    width: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .contact > div {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .contact > div .contact-content h3::after {
    left: 25%;
    width: 50%;
  }
  .contact > div .contact-content .contact-media {
    opacity: 1;
    justify-content: space-between;
  }
  .contact > div .contact-form {
    order: 2;
  }
  .contact > div .contact-form form div {
    flex-direction: column;
  }
  .contact > div .contact-form form div input {
    width: 100%;
  }
  .contact:hover > div .contact-content h3::after {
    left: 20%;
    width: 60%;
  }
}
@keyframes animationSubmit {
  0% {
    padding: 1.2rem 2rem;
  }
  50% {
    padding: 1.2rem 3rem 1.2rem 1rem;
  }
  66% {
    padding: 1.2rem 1rem 1.2rem 3rem;
  }
  100% {
    padding: 1.2rem 2rem;
  }
}
::-moz-placeholder {
  color: #01264a;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #01264a;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #01264a;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #01264a;
}

/** Footer **/
.footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #e2e2e2;
}
.footer p {
  line-height: 1.5rem;
  font-size: 1.5rem;
  align-items: center;
  margin: 1rem 0;
  font-weight: 400;
  color: #909090;
  transition: 0.2s ease-in-out;
}
.footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.footer div p:first-child {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 70%;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */