<section class="container home">

    <div class="home-content">
        <div id="animation-home"></div>

        <div class="home-text">
            <button class="about-opener" onclick="toggleAbout()">
                <img src="/img/perfil.png" alt="">
                <div class="bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>

            <div>
                <p>¡Buenas! Soy un programador enfocado en la fusión creativa de diseño y funcionalidad. Me especializo
                    en páginas web llamativas y accesibles, utilizando diversas herramientas para superar tus
                    expectativas. Además, brindo los servicios necesarios para suplir tus necesidades digitales.</p>

                <a href="#portfolio" id="homeToPortfolioButton">Conoce todos los servicios</a>
            </div>

        </div>
    </div>

    <div class="home-main-animation" id="animation-home-main" style="height: 60vh;">
    </div>

</section>

{{> about }}

<section class="container portfolio" id="portfolio">
    <h2>Mi Trabajo<div id="animation-hat-01" class="animation-hat" style="width: 10%;"></div>
    </h2>

    <div class="portfolio-cards">

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Empresariales</h3>
                <p>Para que se de a conocer tu Empresa!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Portafolios</h3>
                <p>La mejor forma de mostrar tu trabajo!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Artísticos</h3>
                <p>Para desplegar tu arte en el Mundo!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <a href="#contacto" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Desarrollo Web</h3>
                <p>Desde el principio hasta el fin, te acompaño durante todo el proceso del desarrollo de la pagina,
                    desde el diseño hasta las fotos, la redaccion y correcion de textos, hasta la publicacion y
                    mantenimiento.</p>
            </div>
        </a>

        <a href="#" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Personal</h3>
                <p>cv y linkedin</p>
            </div>
        </a>

        <a href="#" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Artístico</h3>
                <p>Maquetacion, correcion y revision de textos</p>
            </div>
        </a>

    </div>
</section>

<section class="container knowledge">
    <h2>Conocimientos</h2>

    <div class="tab">
        <div class="display-pc tab-box">
            <button class="tab-btn tab-active" id="tab-01">Programación</button>
            <button class="tab-btn" id="tab-02">Diseño</button>
            <button class="tab-btn" id="tab-03">Estudio</button>
            <button class="tab-btn" id="tab-04">Biblioteca</button>
            <button class="tab-btn" id="tab-05">Otros</button>
            <div class="tab-line"></div>
        </div>

        <div class="display-mobile tab-box">
            <button class="tab-btn tab-active" id="tab-01">P</button>
            <button class="tab-btn" id="tab-02">D</button>
            <button class="tab-btn" id="tab-03">E</button>
            <button class="tab-btn" id="tab-04">B</button>
            <button class="tab-btn" id="tab-05">O</button>
            <div class="tab-line display-pc"></div>
        </div>

        <div class="tab-contents">
            <div class="tab-content tab-active">
                <h4>Programación</h4>
                <p>Desarrollo web desde el principio hasta el fin, y estudios propios</p>

                <div class="tab-lists">

                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title" id="list01" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Esta Pagina</p>
                        </div>
                        <div class="list-content" id="contentlist01">
                            <ul>
                                <li id="dotJs">JavaScript<div class="list-item-bar"></div>
                                </li>
                                <li id="dotNd">Node.Js</li>
                                <li>Express</li>
                            </ul>
                            <ul>
                                <li id="dotScss">SCSS<div class="list-item-bar"></div>
                                </li>
                                <li>Handlebars</li>
                                <li>Lottie.Js</li>
                            </ul>
                        </div>
                    </div>

                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title" id="list02" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Desarrollo Web</p>
                        </div>
                        <div class="list-content" id="contentlist02">
                            <ul>
                                <li id="dotHtml">HTML<div class="list-item-bar"></div>
                                <li id="dotCss">CSS<div class="list-item-bar"></div>
                                <li id="dotScss">SCSS<div class="list-item-bar"></div>
                                <li id="dotScss">Lottie.Js<div class="list-item-bar"></div>
                                <li id="dotScss">WordPress<div class="list-item-bar"></div>
                                <li id="dotScss">React<div class="list-item-bar"></div>
                            </ul>
                            <ul>
                                <li id="dotScss">JavaScript<div class="list-item-bar"></div>
                                <li id="dotScss">Node.Js<div class="list-item-bar"></div>
                                <li id="dotScss">Handlebars<div class="list-item-bar"></div>
                                <li id="dotScss">Express<div class="list-item-bar"></div>
                                <li id="dotScss">MongoDB<div class="list-item-bar"></div>
                                <li id="dotScss">Rest<div class="list-item-bar"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="wide-list" id="wideList03">
                        <div class="list-title" id="list03" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>C - C++</p>
                        </div>
                        <div class="list-content" id="contentlist03">
                            <ul>
                                <li id="dotScss">Tipos, Operadores y Expresiones<div class="list-item-bar"></div>
                                <li id="dotScss">Control de Flujo<div class="list-item-bar"></div>
                                <li id="dotScss">Funciones y Estructuras del Programa<div class="list-item-bar"></div>
                                <li id="dotScss">Pointers y Arrays<div class="list-item-bar"></div>
                            </ul>
                            <ul>
                                <li id="dotScss">Estructuras<div class="list-item-bar"></div>
                                <li id="dotScss">Input y Output<div class="list-item-bar"></div>
                                <li id="dotScss">Clases<div class="list-item-bar"></div>
                                <li id="dotScss">Overloading<div class="list-item-bar"></div>
                                <li id="dotScss">Templates<div class="list-item-bar"></div>
                                <li id="dotScss">Excepciones<div class="list-item-bar"></div>
                                <li id="dotScss">Bibliotecas Estandar<div class="list-item-bar"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="wide-list" id="wideList04">
                        <div class="list-title" id="list04" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Github y Otros</p>
                        </div>
                        <div class="list-content" id="contentlist04">
                            <ul>
                                <li id="dotScss">Github<div class="list-item-bar"></div>
                            </ul>
                            <ul>
                                <li id="dotScss">Linux<div class="list-item-bar"></div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-content">
                <h4>Diseño</h4>
                <p>Adobe y todo eso</p>

                <div class="tab-lists">
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Photoshop</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>DaVinci Resolve</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Fusion 360</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>InDesign</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Fable</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Premiere</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Audacity</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-content">
                <h4>Estudio</h4>
                <p>Cursando 3ro con promedio - Idiomas</p>
                <div class="tab-lists">

                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Inglés</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>

                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title no-pointer" id="list06">
                            <div class="list-dot"></div>
                            <p>Italiano</p>
                            <div class="list-bar"></div>
                        </div>
                    </div>

                    <div class="wide-list" id="wideListPurple">
                        <div class="list-title" id="list05" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Ingeniería en Sistemas de Información</p>
                        </div>
                        <div class="list-content" id="contentlist05">
                            <ul>
                                <li id="dotJs">Curso 3er Año<div class="list-item-bar"></div></li>
                            </ul>
                            <ul>
                                <li id="dotScss">Promedio<div class="list-item-bar"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <h4>Biblioteca</h4>
                <p>Libros - Cursos</p>
                <div class="tab-lists">
                    <div class="wide-list" id="wideList20">
                        <div class="list-title" id="list20" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Esta Pagina</p>
                            <div class="list-bar"></div>
                        </div>
                        <div class="list-content" id="contentlist20">
                            <ul>
                                <li id="dotJs">JavaScript</li>
                                <li id="dotNd">Node.Js</li>
                                <li>Express</li>
                            </ul>
                            <ul>
                                <li>SCSS</li>
                                <li>Handlebars</li>
                                <li>Lottie.Js</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <h4>Otros</h4>
                <div class="tab-lists">
                    <div class="wide-list" id="wideList25">
                        <div class="list-title" id="list25" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Haskell</p>
                            <div class="list-bar"></div>
                        </div>
                        <div class="list-content" id="contentlist25">
                            <ul>
                                <li id="dotJs">JavaScript</li>
                                <li id="dotNd">Node.Js</li>
                                <li>Express</li>
                            </ul>
                            <ul>
                                <li>SCSS</li>
                                <li>Handlebars</li>
                                <li>Lottie.Js</li>
                            </ul>
                        </div>
                    </div>

                    <div class="wide-list" id="wideList26">
                        <div class="list-title" id="list26" onclick="openList(this)">
                            <div class="list-dot"></div>
                            <p>Prolog</p>
                            <div class="list-bar"></div>
                        </div>
                        <div class="list-content" id="contentlist26">
                            <ul>
                                <li id="dotJs">JavaScript</li>
                                <li id="dotNd">Node.Js</li>
                                <li>Express</li>
                            </ul>
                            <ul>
                                <li>SCSS</li>
                                <li>Handlebars</li>
                                <li>Lottie.Js</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<section class="container art">
    <h2>Arte</h2>

    <div class="art-cards">

        <div>
            <div class="art-card art-card-main" style="height: 60vh; background-color: red;">
                <h4>Arte Titulo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non fugit eligendi corporis ratione dolor
                    culpa
                    corrupti laboriosam! Mollitia at explicabo illo voluptatem architecto dolorum consectetur illum
                    maxime
                    alias eveniet magni, cum distinctio similique a repudiandae deserunt facilis delectus aut adipisci,
                    dicta tempora. Quibusdam deserunt illo cumque unde voluptatum doloremque aut!</p>
            </div>

            <div class="art-card" style="height: 30vh; background-color: blue;">
                <img src="/img/perfil.png" alt="">
                <div id="animation-art-01"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aperiam maiores magnam molestias,
                    doloremque alias omnis reprehenderit dolore facilis est eveniet corrupti minima fugit! Rem, nam?
                    Dolor voluptas minima ex.</p>
            </div>
        </div>

        <div>
            <div class="art-card" style="height: 50vh; background-color: rgb(0, 255, 0);">
                <img src="/img/perfil.png" alt="">
                <div id="animation-art-02"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aperiam maiores magnam molestias,
                    doloremque alias omnis reprehenderit dolore facilis est eveniet corrupti minima fugit! Rem, nam?
                    Dolor voluptas minima ex.</p>
            </div>

            <div class="art-card" style="height: 40vh; background-color: rgb(255, 0, 255);">
                <img src="/img/perfil.png" alt="">
                <div id="animation-art-03"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aperiam maiores magnam molestias,
                    doloremque alias omnis reprehenderit dolore facilis est eveniet corrupti minima fugit! Rem, nam?
                    Dolor voluptas minima ex.</p>
            </div>
        </div>

    </div>
</section>

<section class="container contact">
    <h2>Contacto</h2>
</section>

<footer class="container footer">
    <p>Footer Yeah!</p>
</footer>