<section class="container home">

    <div class="home-content">
        <div id="animation-home"></div>

        <div class="home-text">
            <button class="button-opener about-opener" onclick="toggleAbout()">
                <img src="/img/perfil.png" alt="">
                <div class="bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>

            <div>
                <p>¡Buenas! Soy un programador enfocado en la fusión creativa de diseño y funcionalidad. Me especializo
                    en páginas web llamativas y accesibles, utilizando diversas herramientas para superar tus
                    expectativas. Además, brindo los servicios necesarios para suplir tus necesidades digitales.</p>

                <a href="#portfolio" id="homeToPortfolioButton">Conoce todos los servicios</a>
            </div>

        </div>
    </div>

    <div class="home-main-animation" id="animation-home-main" style="height: 60vh;">
    </div>

</section>

{{> about }}

<div style="margin: 0 auto; text-align: center; margin: 10vh auto 9vh;">a</div> <!-- Animacion -->

<section class="container portfolio" id="portfolio">
    <h2>Mi Trabajo<div id="animation-hat-01" class="animation-hat" style="width: 10%;"></div>
    </h2>

    <div class="portfolio-cards">

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Empresariales</h3>
                <p>Para que se de a conocer tu Empresa!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Portafolios</h3>
                <p>La mejor forma de mostrar tu trabajo!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <div class="portfolio-card">
            <div class="portfolio-card-content">
                <h3>Artísticos</h3>
                <p>Para desplegar tu arte en el Mundo!</p>
                <a href="#"> Visitar </a>
            </div>
            <img src="/img/perfil.png" alt="">
        </div>

        <a href="#contacto" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Desarrollo Web</h3>
                <p>Desde el principio hasta el fin, te acompaño durante todo el proceso del desarrollo de la pagina,
                    desde el diseño hasta las fotos, la redaccion y correcion de textos, hasta la publicacion y
                    mantenimiento.</p>
            </div>
        </a>

        <a href="#" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Personal</h3>
                <p>cv y linkedin</p>
            </div>
        </a>

        <a href="#" class="portfolio-mini-card">
            <div class="portfolio-card-content">
                <h3>Artístico</h3>
                <p>Maquetacion, correcion y revision de textos</p>
            </div>
        </a>

    </div>
</section>

<section class="container knowledge">
    <h2 style="font-size: 10vw;">Conocimientos</h2>

    <div class="tab">
        <div class="display-pc tab-box">
            <button class="tab-btn tab-active" id="tab-01">Programación</button>
            <button class="tab-btn" id="tab-02">Diseño</button>
            <button class="tab-btn" id="tab-03">Estudio</button>
            <button class="tab-btn" id="tab-04">Biblioteca</button>
            <button class="tab-btn" id="tab-05">Otros</button>
            <div class="tab-line"></div>
        </div>

        <div class="display-mobile tab-box">
            <button class="tab-btn tab-active" id="tab-01">P</button>
            <button class="tab-btn" id="tab-02">D</button>
            <button class="tab-btn" id="tab-03">E</button>
            <button class="tab-btn" id="tab-04">B</button>
            <button class="tab-btn" id="tab-05">O</button>
            <div class="tab-line display-pc"></div>
        </div>

        <div class="tab-contents">
            <div class="tab-content tab-active">
                <h4>Programación</h4>
                <p>Desarrollo web desde el principio hasta el fin, y estudios propios</p>

                <div class="tab-lists">

                    <div>
                        <div class="wide-list" id="wideListPurple">
                            <div class="list-title" id="list01" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Esta Pagina</p>
                            </div>
                            <div class="list-content" id="contentlist01">
                                <ul>
                                    <li id="dotJs">JavaScript<div class="list-item-bar"></div>
                                    </li>
                                    <li id="dotNd">Node.Js<div class="list-item-bar"></div>
                                    </li>
                                    <li id="dotNd">Express<div class="list-item-bar"></div>
                                    </li>
                                </ul>
                                <ul>
                                    <li id="dotScss">SCSS<div class="list-item-bar"></div>
                                    </li>
                                    <li id="dotHdbs">Handlebars<div class="list-item-bar"></div>
                                    </li>
                                    <li id="dotLottie">Lottie.Js<div class="list-item-bar"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListBlue">
                            <div class="list-title no-pointer" id="listCpp">
                                <div class="list-dot"></div>
                                <p>C - C++</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="wide-list" id="wideListPurple">
                            <div class="list-title" id="list02" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Desarrollo Web</p>
                            </div>
                            <div class="list-content" id="contentlist02">
                                <ul>
                                    <li id="dotHdbs">HTML<div class="list-item-bar"></div>
                                    <li id="dotCss">CSS<div class="list-item-bar"></div>
                                    <li id="dotScss">SCSS<div class="list-item-bar"></div>
                                    <li id="dotLottie">Lottie.Js<div class="list-item-bar"></div>
                                    <li id="dotWp">WordPress<div class="list-item-bar"></div>
                                    <li id="dotReact">React<div class="list-item-bar"></div>
                                </ul>
                                <ul>
                                    <li id="dotJs">JavaScript<div class="list-item-bar"></div>
                                    <li id="dotNd">Node.Js<div class="list-item-bar"></div>
                                    <li id="dotHdbs">Handlebars<div class="list-item-bar"></div>
                                    <li id="dotNd">Express<div class="list-item-bar"></div>
                                    <li id="dotMdb">MongoDB<div class="list-item-bar"></div>
                                    <li id="dotRest">Rest<div class="list-item-bar"></div>
                                </ul>
                            </div>
                        </div>



                        <div class="wide-list" id="wideListOrange">
                            <div class="list-title" id="list04" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Github y Otros</p>
                            </div>
                            <div class="list-content" id="contentlist04">
                                <ul>
                                    <li id="dotGit">Github<div class="list-item-bar"></div>
                                </ul>
                                <ul>
                                    <li id="dotLinux">Linux<div class="list-item-bar"></div>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <div class="tab-content">
                <h4>Diseño</h4>
                <p>Adobe y todo eso</p>

                <div class="tab-lists">

                    <div>
                        <div class="wide-list" id="wideListPhotoshop">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Photoshop</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListPremiere">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Premiere</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                        <div class="wide-list" id="wideListInDesign">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>InDesign</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListAudacity">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Audacity</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="wide-list" id="wideListFusion">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Fusion 360</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListDaVinci">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>DaVinci Resolve</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListFable">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Fable (Animation)</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-content">
                <h4>Estudio</h4>
                <p>Cursando 3ro con promedio - Idiomas</p>
                <div class="tab-lists">

                    <div>
                        <div class="wide-list" id="wideListEnglish">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Inglés (B1)</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListUniversity">
                            <div class="list-title" id="list05" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Ingeniería en Sistemas de Información (UTN)</p>
                            </div>
                            <div class="list-content" id="contentlist05">
                                <ul>
                                    <li id="dotU01">Curso 3er Año<div class="list-item-bar"></div>
                                    </li>
                                </ul>
                                <ul>
                                    <li id="dotU02">Promedio 8.25<div class="list-item-bar"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="wide-list" id="wideListItalian">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Italiano (Básico)</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <h4>Biblioteca</h4>
                <p>Libros - Cursos</p>
                <div class="tab-lists">

                    <div>

                        <div class="wide-list" id="wideListPurple">
                            <div class="list-title" id="list20" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Cursos - Programación</p>
                            </div>
                            <div class="list-content" id="contentlist20">
                                <ul>
                                    <li id="dotJs">A</li>
                                </ul>
                                <ul>
                                    <li id="dotNd">B</li>
                                </ul>
                            </div>
                        </div>

                        <div class="wide-list" id="wideListUniversity">
                            <div class="list-title" id="list22" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Cursos - Otros</p>
                            </div>
                            <div class="list-content" id="contentlist22">
                                <ul>
                                    <li id="dotJs">A</li>
                                </ul>
                                <ul>
                                    <li id="dotNd">B</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div>

                        <div class="wide-list" id="wideListPurple">
                            <div class="list-title" id="list21" onclick="openList(this)">
                                <div class="list-dot"></div>
                                <p>Libros - Programación</p>
                            </div>
                            <div class="list-content" id="contentlist21">
                                <ul>
                                    <li id="dotJs">A</li>
                                </ul>
                                <ul>
                                    <li id="dotNd">B</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="tab-content">
                <h4>Otros</h4>
                <div class="tab-lists">

                    <div>
                        <div class="wide-list" id="wideListHaskell">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Haskell</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="wide-list" id="wideListProlog">
                            <div class="list-title no-pointer">
                                <div class="list-dot"></div>
                                <p>Prolog</p>
                                <div class="list-bar"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>

<div style="margin: 0 auto; text-align: center; margin: 10vh;">a</div> <!-- Animacion -->

<section class="container art">
    <h2>Arte</h2>

    <div class="art-content">
        <h3 class="content-subtitle">Un poco mas sobre mi: Me gusta el <span>arte</span>, todo tipo de arte. Te puedo
            <span>ayudar</span> si queres. Mira un toque lo que hice.
        </h3>

        <div class="art-cards">

            <button class="button-opener art-card-sq art-card-01 art-button-active" id="button-opener-art">
                <img src="/img/icons/25231.png" alt="">
                <div class="art-bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>

            <button class="button-opener art-card-rect art-card-02" id="button-opener-art">
                <img src="/img/icons/174857.png" alt="">
                <div class="art-bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>

            <div class="art-card-03">

                <div id="art-card-content" class="art-card-active">
                    <h4>Poemas y Cuentos</h4>
                    <p>Toda mi vida escribi, desde chico comics, ahora poemas y cuentos. Hice varios cursos, leo y
                        estudio. Me centro en el ritmo y formato como forma de expresion.</p>
                </div>

                <div id="art-card-content">
                    <h4>Diseño y Logos</h4>
                    <p>Siempre me gusto la filosofia del diseño, demostrar ideas con imagenes de la mejor forma posible,
                        hice varios cursos y vendi varios logos y curriculum</p>
                </div>

                <div id="art-card-content">
                    <h4>Edición</h4>
                    <p>Soy un gran lector, puedo ayudarte a dar forma y movimiento a un texto. Tambien tengo experiencia
                        editando formato.</p>
                </div>

                <div id="art-card-content">
                    <h4>Premios</h4>
                    <p>Participe en muy pocos concursos, gane estos: A y B.</p>
                </div>

            </div>

            <button class="button-opener art-card-sq art-card-04" id="button-opener-art">
                <img src="/img/icons/25231.png" alt="">
                <div class="art-bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>

            <button class="button-opener art-card-sq art-card-05" id="button-opener-art">
                <img src="/img/icons/1384031.png" alt="">
                <div class="art-bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                </div>
            </button>
        </div>
    </div>


</section>

<div style="margin: 0 auto; text-align: center; margin: 10vh;">a</div> <!-- Animacion -->

<section class="container contact">
    <h2>Contacto</h2>
    <div>

        <div class="contact-form">
            <form action="#" method="POST">
                <div>
                    <input type="text" id="fname" name="nombre" placeholder="Nombre" required>

                    <input type="text" id="lname" name="apellido" placeholder="Apellido" required>
                </div>

                <div>
                    <input type="email" id="mail" name="email" placeholder="Correo Electronico" required>

                    <input type="number" id="phone" name="celular" placeholder="Numero de Telefono">
                </div>

                <select name="type" id="type">
                    <option value="service" disabled selected>Elegí Servicio</option>
                    <option value="business">Web Empresarial</option>
                    <option value="portfolio">Portafolio Web</option>
                    <option value="art">Web Artistica</option>
                    <option value="texts">Redacción o Edición de Texto</option>
                    <option value="personal">Desarrollo Particular</option>
                    <option value="other">Otro</option>
                </select>

                <textarea name="txtarea" id="txtarea" placeholder="Mensaje" style="resize: none;"></textarea>

                <input type="submit" value="Enviar">
            </form>
        </div>

        <div class="contact-content">
            <h3 class="content-subtitle">Consulta sin miedo, para el <span>servicio</span> que quieras, contesto al
                <span>toque</span>, y un
                <span>poco</span> mas de texto. La verdad es que necesito aun <span>mas</span> texto todavia.
            </h3>
            <div class="contact-media">
                <a href="#"><img src="/img/icons/25231.png" alt=""></a>
                <a href="#"><img src="/img/icons/174857.png" alt=""></a>
                <a href="#"><img src="/img/icons/1384031.png" alt=""></a>
                <a href="#"><img src="/img/icons/Codepen-512.webp" alt=""></a>
                <a href="#"><img src="/img/icons/klipartz.com.png" alt=""></a>
            </div>
        </div>

    </div>
</section>

<footer class="container footer">
    <div>
        <p>©</p>
        <p>2024 - Juan Cruz Bolatti</p>
    </div>

    <p>Gracias por visitar mi Pagina Web!</p>
</footer>